@model BookModels 
@{
    ViewData["Title"] = "UploadBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Book form *@
    <div class="container">
        <h3 class="display-4">Add New Book</h3>
        <hr />
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulations!</strong> Book has been successfully uploaded<br />
                Click <a asp-route="GetBook" asp-route-id="@ViewBag.BookID">here</a> to view the details
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @* asp-action and asp-controller is not required if form submit the post action to the same controller and same action as the view is located *@

        @*loader tag, display should be none *@
        <div class="spinner-border text-warning" role="status" style="display:none" id="myLoader">
            <span class="sr-only">Loading...</span>
        </div>

        <form method="post" enctype="multipart/form-data" asp-action="UploadBook" asp-controller="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.BookName" class="control-label"></label>
                <input asp-for="@Model.BookName" class="form-control" />
                <span asp-validation-for="@Model.BookName" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="@Model.AurtherName" class="control-label"></label>
                <input asp-for="@Model.AurtherName" class="form-control" />
                <span asp-validation-for="@Model.AurtherName" class="text-danger"></span><br />
            </div>
            @* we need radio button for this to select multiple genre *@
            <div class="form-group">
                <label asp-for="@Model.Genre" class="control-label"></label>
                <input asp-for="@Model.Genre" class="form-control" />
                <span asp-validation-for="@Model.Genre" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Discription" class="control-label"></label>
                <input asp-for="@Model.Discription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.TotalPage" class="control-label"></label>
                <input asp-for="@Model.TotalPage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.LanguageID" class="control-label"></label>
                <select asp-for="@Model.LanguageID" class="form-control" asp-items="ViewBag.Languages">
                    <option value="">Select the language</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CoverPhotoFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.CoverPhotoFile" class="custom-file-input" id="custom-file">
                    <label class="custom-file-label" for="custom-file">choose file.....</label>
                </div>
                <span asp-validation-for="@Model.CoverPhotoFile" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="@Model.BookGalleries" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.BookGalleries" class="custom-file-input" id="custom-file">
                    <label class="custom-file-label" for="custom-file">choose file.....</label>
                </div>
                <span asp-validation-for="@Model.BookGalleries" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="@Model.BookPDF" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.BookPDF" class="custom-file-input" id="custom-file">
                    <label class="custom-file-label" for="custom-file">Select PDF.....</label>
                </div>
                <span asp-validation-for="@Model.BookPDF" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <input type="submit" value="UploadBook" class="btn btn-primary" />

            </div>
        </form>
    </div>


@section script {
<script>
    function mySuccess(data) {
        alert("Book successfully added");
    }
    function myFailure(data) {
        alert("Failure in Book submition");
    }
</script>
}
